.base_shapes_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columns */
    gap: 10px;
    /* Adjust the gap as needed */
    justify-items: center;
    /* Centers the items horizontally in the grid cells */
    align-items: center;
    /* Centers the items vertically in the grid cells */
}


.cake-product:hover {
    background-color: rgb(226, 211, 211);
    
}


.showImgBig img{
    width: 100%;
    height: 100%;
}
.showImgBig{
    margin: 50px 10px;
            width: 368px;
                height: 175px;
            overflow: hidden;
}




.top_container{
    display: flex;
    justify-content: center;
}